@media screen and (max-width: 768px) {
    .futer{
        display: flex;
        flex-direction: column;
    }
}
.futer{
    background-color: gold;
    height: 397px;
    width: 100%;
}
.futerTEXT{
    color: blue;
    width: 100%;
    text-align: center;
}
.futerTEXT2{
color: aliceblue;
height: 65px;
}
.email{
    height: 50px;
    color: cadetblue;
    text-align: center;
}
.tel{
    height: 30px;
    color: black;
    text-align: center;
}
.carts{
    width: 210.84px;
    height: 97px;
    margin: auto;
}
.van{
    width: 87px;
    height: 97px;
}
.tu{
    width: 105px;
    height: 97px;
}
.title{
    color: #000;
    font-family: Inika;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 144.826%; /* 69.516px */
    width: 456px;
    height: 67px;
    flex-shrink: 0;
    border-bottom: 1px solid #0092e4;
    margin-left: 80px;
}
.hedr{
    
}
.starthedrTEXT{

}
.y{
    width: 589px;
    height: 65px;
    margin: auto;
}
.hedrTEXT{
    color: blue;
}
.hedrTEXTtu{
    color: gold;
}
.hedrcarts{
    width: 100%;
    height: 831px;
}
